{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script src="{% url 'admin:jsi18n' %}"></script>
{{ media }}
{% endblock %}

{% block content %}
<form action="" method="post">
    {% csrf_token %}

    <div>
        <p>You are about to assign a meal plan to the following <strong>{{ profiles.count }}</strong> users:</p>
        <ul>
            {% for profile in profiles %}
            <li>{{ profile.user.username }}</li>
            <input type="hidden" name="_selected_action" value="{{ profile.pk }}" />
            {% endfor %}
        </ul>
        <input type="hidden" name="action" value="assign_meal_plan_from_template" />
    </div>

    <fieldset class="module aligned">
        <div class="form-row">
            {{ form.as_p }}
        </div>
    </fieldset>

    <div class="submit-row">
        <input type="submit" name="apply" value="Assign Plan" class="default" />
    </div>
</form>
{% endblock %}