# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment
.env
.venv
env/
venv/
ENV/

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
